body {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('https://www.clear-systems.nl/web/image/1583-6872f1f7/CLEAR-Systems-building.webp');
    background-size: cover;
    background-position: right;
    background-repeat:no-repeat;
}

@media screen and (min-width: 991px) {
    body {
        background-position: center;
    }
}
