* {
    box-sizing: border-box;
}

html {
    font-family: "Open Sans", Arial, "Sans Serif";
}

:root {
    --bg-base: #ffffff;
    --primary: #772F66;
    --secundary: #fff6f6;
    --highlight: #9e3f88;
    --input-primary: #9e3f88;
    --input-secundary: 
    --text: #212529;
    --text-highlight: #9e3f88;
    --text-contrast: 
}

header, main, section, footer {
    min-height: 100px;
}

aside, article {
    min-height: 300px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Noto Serif", Georgia, 'Times New Roman', Times, serif;
}

#logo {
    background-image: url('../img/LP-logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

